/*.o
/Makefile
/alloca.h
/error.h
/fcntl.h
/inttypes.h
/libgnu.a
/limits.h
/stdckdint.h
/stddef.h
/stdint.h
/stdio.h
/stdlib.h
/string.h
/sys/types.h
/time.h
/unistd.h
/wchar.h
/sys/stat.h
/sys/types.h
